.pill_incomplete {
    background-color: #555555;
    color: white;
    cursor: pointer;
}
.pill_complete {
    background-color: #555555;
    color: white;
    cursor: pointer;
}
body {
    color: #555555;
}
h3 {
    margin-top: 0px;
}