[handle_service]
mysql-host={{ mysql_host|default('ci-mysql') }}
mysql-user={{ mysql_user|default('hsiadmin') }}
mlog_log_file={{ mlog_log_file|default('service.log') }}
service-host={{ service_host|default('localhost') }}
data-source={{ data_source|default('dbi:mysql:hsi') }}
mlog_log_level={{ mlog_log_level|default('6') }}
mysql-pass={{ mysql_pass|default('') }}
mysql-perm={{ mysql_perm|default('ALL') }}
default-shock-server={{ default_shock_server|default('https://ci.kbase.us/services/shock-api/') }}
service-port={{ service_port|default('7109') }}
# The KBase authorization server url.
auth-service-url={{ auth_service_url|default('https://ci.kbase.us/services/auth/api/legacy/KBase/Sessions/Login') }}