/* this is from the kbase.us body */
body {
    /*font-family: Arial, Helvetica, sans-serif;*/

}

.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 1em;
    margin: 0px;
    line-height: 1.3em;
    margin-bottom: 12px;
}

/* these are the defualt kbase.us link styling */

a {
    color: #08C;  
    text-decoration: none;
}
a:visited  {
    color: #08C;
}
a:hover    {
    text-decoration: underline;
    color: #005580;
}

.footer-area {
    border-top: 4px solid #333;
    padding: 20px;
}
.copyright {
    text-align: center;
    font-size: 12px;
}
.social:hover {
    opacity: 0.8;
    text-decoration: none; /* override default */
}
.doe-logo:hover {
    text-decoration: none;
}
.sponsor {
    font-size: 14px;
    width: 380px;
    margin: 10px auto;
}
#content {
    margin-top: 40px;
}