package Bio::KBase::HandleServiceConstants;

use constant        handleNameSpace  => '[% handle_namespace %]';

use Exporter qw(import);
our @EXPORT_OK = qw(handleNameSpace);
our %EXPORT_TAGS = ( all => [ 'handleNameSpace', ] );


1;

