html {
	/*height: 100%;*/
	padding-top: 10px;
	padding-bottom: 40px;
}

body {
}

.carousel-control.left {
    position: absolute;
    left: -20px;
}

.carousel-control.right {
    position: absolute;
    right: -20px;
}


.form-signin {
    position: absolute;
    top: 33%;
	max-width: 300px;
	padding: 0px 20px 20px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
			box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}      
	

div.blockMsg {
    width: 40%;
    top: 40%;
    left: 30%;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    /*
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); 
    -moz-opacity:.70;
    opacity:.70;
    */
    padding: 15px;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
}


.well-custom {
	background-image: url("../img/bright_squares.png");
}

.well-centertext {
    text-align: center;
}

#cursor_rule {
    background: #000000;
    height: 2px; 
    overflow: hidden; 
    position:relative; 
    bottom: -20px; 
    margin-left: 0px; 
    margin-bottom: 20px;
}


.search-query input[placeholder="type here to filter"] {
}

.search-query-centered {
    position: relative;
    left: 12.5%;
    width: 62.5%;
    top: -18px;
}

/*
.btn-muted {
	background-color: hsl(146, 19%, 45%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3cbbd", endColorstr="#5c886f");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#b3cbbd), to(#5c886f));
	background-image: -moz-linear-gradient(top, #b3cbbd, #5c886f);
	background-image: -ms-linear-gradient(top, #b3cbbd, #5c886f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b3cbbd), color-stop(100%, #5c886f));
	background-image: -webkit-linear-gradient(top, #b3cbbd, #5c886f);
	background-image: -o-linear-gradient(top, #b3cbbd, #5c886f);
	background-image: linear-gradient(#b3cbbd, #5c886f);
	border-color: #5c886f #5c886f hsl(146, 19%, 37.5%);
	color: #333 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49);
	-webkit-font-smoothing: antialiased;
}      
*/

.btn-muted {
  background-color: hsl(124, 98%, 9%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#62fd6c", endColorstr="#002d03");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62fd6c), to(#002d03));
  background-image: -moz-linear-gradient(top, #62fd6c, #002d03);
  background-image: -ms-linear-gradient(top, #62fd6c, #002d03);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62fd6c), color-stop(100%, #002d03));
  background-image: -webkit-linear-gradient(top, #62fd6c, #002d03);
  background-image: -o-linear-gradient(top, #62fd6c, #002d03);
  background-image: linear-gradient(#62fd6c, #002d03);
  border-color: #002d03 #002d03 hsl(124, 98%, -6%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.99);
  -webkit-font-smoothing: antialiased;
}

.badge-largetext {
    font-weight: bold;
    font-size: 14px;
}

.active-content-cursor {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 20px 20px 20px;
	border-color: transparent transparent #000000 transparent;
	position: relative;
	bottom: -20px;
	margin-top: -25px;
}

.workspace-cursor {
	left: 65px;
}

.genome-cursor {
	left: 190px;
}

.model-cursor {
	left: 305px;
}

.gapfill-cursor {
	left: 410px;
}

.nav-highlighted {
    background-color: #EEEEEE;
}

.build_step {
	margin-right: 5px;
}

.build-content {
	background-color: #CC9933;
}

.nomargin {
    margin: 0;
}

#loading_message_text {
    margin-bottom: 20px;
}

.progress_table {
    height: 250px;
    overflow: auto;
}

.tagbox {
    height: 90px;
    overflow: auto;
}

.popover-content pre {
   font-family: "courier new", courier, monospace;
   font-size: 11px;
}

td div .mypopover {
    max-width: 400px;
}

.tallbox {
    height: 100%;
    min-height: 100%;

.mypopover-inner {
    width: 400px;
}

/*End of file*/